### Miscellaneous
.DS_Store
Thumbs.db

### Vagrant
/.vagrant

### Composer
/vendor/

### IDE
/.idea

### PHPCS
cs_fixer*
.php_cs.cache

### NodeJS
node_modules/

### WordPress
/htdocs/cms/
/htdocs/content/uploads/
/htdocs/content/upgrade/
/htdocs/content/cache/

### Environment Credentials
.env
/mysql_backup/
/postgres_backup/